.template-yuan-box {
	background: #fef9d9;
	height: 50px;
	padding: 8px;
	border: 1px solid #a7a7a7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	word-break: break-all;
	word-wrap: break-word;
	margin-top: 5px;
	line-height: 22px;
	font-size: 12px;
}

.template-yuan-box a {
	color: #3484CF;
}

.template_tip_left {
	width: 135px;
	color: #406B89;
	text-align: right;
	float: left;
	margin: 0px;
	padding-right: 10px;
	font-size: 16px;
	display: inline;
	overflow: hidden;
	font-family: "微软雅黑", "新宋体", "宋体";
}

.cls_sfilter_list{
    overflow:hidden;
}